<div class="row">
    <div class="col-md-8">
        <h4>Classification</h4>
    </div>
</div>

<div class="row" style="border:1px solid black; overflow: scroll">
        <div class="col-md-8">
        <h5>Broker information</h5>
    </div>
    <br>
   <p>
   Fink: {{target.name}} 
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Classification</th>
                <th>Probability</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{target.name}}</td>
                <td>{{target.name}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>
    Lasair Sherlock: {{target.name}} 
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Classification Lasair Sherlock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{target.name}}</td>
            </tr>
        </tbody>
    </table>


</div>
