<div class="row">
    <div class="col-md-8">
        <h4>Classification </h4>
    </div>
</div>
<br>
<div class="row" style="border:1px solid black; overflow: scroll">
        <div class="col-md-8">
        <h5>Target Data</h5>
    </div>
 
   <p>
   Fink:
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Classification</th>
                <th>Probability</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{target.classification_fink}}</td>
                <td>{{target.classification_probability_fink}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>
    Lasair Sherlock: 
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Classification Lasair Sherlock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{target.classification_lasair}}</td>
            </tr>
        </tbody>
    </table>


</div>
