{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2 class="text-center">Microlensing demo OPM.</h2>
    <p class="text-center"><img src="{% static 'tom_common/img/MEDLogoBLK.jpg' %}" class="img-fluid mx-auto"></p>

    Welcome to the discussion OPM for the TVS microlensing subgroup
    built using the <a href="https://tomtoolkit.github.io/">TOM Toolkit</a>.
    </p>
    <h3>Next steps</h3>
    <ul>
      <li>
        <a href="{% url 'targets:create' %}" title="Create Target">Add targets</a>.
      </li>
    </ul>  
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
  </div>
</div>
{% endblock %}
